<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'forum:forum-home' %}">Food Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum:forum-home' %}">Home</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:profile' %}">{{ request.user.nickname }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:all-recipes' %}">All Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:saved-recipes' %}">Saved Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:recipe-add' %}">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light ms-2">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
